page-episode-details {

    ion-content {
        background-color: black !important;
    }

    .contentEpisode {
        color: #629bff ;
        font-family: 'Ubuntu', sans-serif;
    }

    .staffEpisode {
        color: #629bff ;
        font-family: 'Ubuntu', sans-serif;
    }
}
