page-serie-details {
    .seasonList{
        background-color: black;
        color: #629bff;
        font-family: 'Ubuntu', sans-serif;
    }

    .serieContent {
        color: #629bff;
        font-family: 'Ubuntu', sans-serif;
    }

    ion-content {
        background-color: black !important; 
    }
}
