page-season-details {
    .item:hover {
        cursor: pointer;
    }

    .episodeList{
        color: #629bff;
        font-family: 'Ubuntu', sans-serif;
    }

    ion-content{
        background-color: black !important;
    }
}
